/* src/pages/MapPage/MapPage.css */
.map-container {
  width: 100%;
  height: calc(100vh - 100px); /* Ajusta según sea necesario, restando navbar y padding */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.map-placeholder {
  width: 80%;
  height: 70%;
  background-color: #e0e0e0;
  border: 1px solid #ccc;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2em;
  color: #aaa;
  margin-top: 20px;
}